@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 225 27% 96%;
    --foreground: 222 23% 15%;
    --card: 0 0% 100%;
    --card-foreground: 222 23% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 23% 15%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 231 48% 48%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 231 48% 48%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 36 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 231 48% 55%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 231 48% 40%;
    --sidebar-ring: 36 100% 50%;
  }
  .dark {
    --background: 222 23% 15%;
    --foreground: 225 27% 96%;
    --card: 222 23% 20%;
    --card-foreground: 225 27% 96%;
    --popover: 222 23% 15%;
    --popover-foreground: 225 27% 96%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 23% 30%;
    --input: 222 23% 30%;
    --ring: 231 48% 48%;
    
    --sidebar-background: 231 48% 15%;
    --sidebar-foreground: 0 0% 80%;
    --sidebar-accent: 231 48% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 231 48% 20%;
    --sidebar-ring: 36 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
